_site
.sass-cache

#Ignore all .c9 specific files<br>
/.c9/
.idea/.name
.idea/blog.iml
.idea/codeStyleSettings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/watcherTasks.xml
.idea/workspace.xml