.square {
    width: 2em;
    height: 2em;
    margin: .25em;
    display: inline-block;
}

.green {
    background: #2ECC40;
}

.red {
    background: #FF4136;
}

.gray {
    background: #AAAAAA;
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: white;
}

.header {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: white;
}

.header h1 {
     font-family: 'Oxygen', sans-serif;
}

.header h5 {
    font-family: 'Oxygen', sans-serif;
}
