.square {
    width: 2em;
    height: 2em;
    margin: .25em;
    display: inline-block;
}

.green {
    background: #2ECC40;
}

.red {
    background: #FF4136;
}

.gray {
    background: #AAAAAA;
}

.main {
    margin-left: auto;
    margin-right: auto;
    width: 38%;
    background-color: white;
}

.header {
    height: 20%;
    background-color: black;
    text-align: center;
}

.user-form {
    margin-left: auto;
    margin-right: auto;
    width: 38%;
    background-color: white;
}

.user-form * {
    display: inline-block;
}

input {
    background-color: #2ECC40;
    color: black;
    border-radius: .2em;
}
