<header class="global-header">
    <nav class="global-header-nav">
      <ul class="global-header-nav-container">
        <li class="global-header-nav-item isActive">
          <a class="global-header-nav-link" href="{{ site.baseurl }}/">Blog</a>
        <li class="global-header-nav-item">
          <a class="global-header-nav-link" href="{{ '/Projects/' | prepend: site.baseurl }}">Projects</a>
        </li>
				<li class="global-header-nav-item">
          <a class="global-header-nav-link" href="{{ '/About/' | prepend: site.baseurl }}">About</a>
        </li>
      </ul>
    </nav>
</header>
