@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,700);

// COLOR
$color-base: #B10DC9;
$color-accent: #82F00B;

$color-gray-dark: #19171A;
$color-gray-medium: #635D64;
$color-gray-light: #FBFCF3;

//TYPOGRAPHY
$font-family-sans-serif: Work Sans, Arial, sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;

$base-font-title-size: 2rem;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$copy-line-height: $base-font-size * 1.30;

$text-size-blog-post: 1.3rem;
$font-post-title-size: 36px;
$font-post-title-line-height: $font-post-title-size * 1.25;

//MARGINS AND PADDING
$padding-paragraph: 1.5rem;
$padding-h2-bottom: 0.5rem;

$padding-figure-highlight: 1rem;
$margin-figure-highlight: 2rem;

$margin-global-blog-left: 9rem;
$margin-global-blog-right: 6rem;
$margin-blog-posts: 4rem;

$padding-header-top: 2rem;
$padding-header-bottom: 4rem;
$padding-blog-post-heading: 1rem;
$padding-blog-post-title: 0.5rem;

$global-footer-padding-top: 1rem;
$global-footer-padding-bottom: 2rem;
