$base-font-family: Work Sans, Arial, sans-serif;
$base-font-normal-weight: 400;
$base-font-bold-weight: 700;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$copy-line-height: $base-font-size * 1.30;

$font-post-title-size: 36px;
$font-post-title-line-height: $font-post-title-size * 1.25;
