body {
  width: 100vw;
}

.custom-blog-main-heading {
  transition: text-shadow 1.5s ease-in;
  /* prettier-ignore */
  text-shadow:
              .5px .5px black,
              10px -3px pink,
              15px  4px lightcyan,
             -10px  3px lightgreen,
             -15px -4px yellow;
}

.custom-blog-main-heading:hover {
  transition: text-shadow 0.2s ease-out;
  /* prettier-ignore */
  text-shadow: 0 0 0 black;
}
