.blog-post {
  margin: 0 auto;
  width: 35%;

	@include media-query($on-laptop) {
			width: 48%;
	}
}

  .blog-post-heading {
    margin-bottom: 20px;
  }

  .blog-post-title {
    color: #222222;
    font-size: 36px;
    font-weight: $base-font-bold-weight;
  }

	.blog-post-link {
		color: $text-color;
		text-decoration: none;
	}
