.blog-post {
  margin: 0 auto;
  width: 45%;
}

  .blog-post-heading {
    padding-bottom: $padding-blog-post-heading;
  }

  .blog-post-title {
    font-size: 36px;
    font-weight: $font-weight-bold;
		padding-bottom: $padding-blog-post-title;
  }

	.blog-post-link {
		color: $color-gray-dark;
		text-decoration: none;
	}

	.blog-post-content {
		font-size: $text-size-blog-post;
	}
