.global-blog {
  padding-left: $padding-global-blog-left-right;
	padding-right: $padding-global-blog-left-right;
}

  .global-blog-wrapper {
    padding-left: 45px;
  }

  .global-blog-posts {
    list-style: none;
  }

	.global-blog-posts-container {
		margin-bottom: $margin-blog-posts;
		text-align: center;
	}

	.global-blog-post-excerpt {
		font-size: $text-size-blog-post;
		padding-left: 22.5%;
		text-align: justify;
		width: 55%
	}
