.global-blog {
  margin-left: $margin-global-blog-left;
	margin-right: $margin-global-blog-right;
}

  .global-blog-wrapper {
    padding-left: 45px;
  }

  .global-blog-posts {
    list-style: none;
  }

	.global-blog-posts-container {
		margin-bottom: $margin-blog-posts;
	}

	.global-blog-post-excerpt {
		font-size: $text-size-blog-post;
		text-align: justify;
		width: 65%;
	}
