.global-header {
	align-items: center;
	display: flex;
	justify-content: space-around;
	padding-top: $padding-header-top;
	padding-bottom: $padding-header-bottom;
}

	.global-header-title {
		color: $color-base;
		font-size: $base-font-title-size;
		font-weight: $font-weight-bold;
		text-align: left;
	}

	.global-header-list {
		list-style: none;
	}

	.global-header-link {
		color: $color-accent;
	}
